body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.bb{
  padding:16px;
  border-radius:5px;
  margin-top: 15px;
}
#a{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:20px;
}
#c{
  text-align: center;
  font-size:18px;
  border-radius:6px;
  margin-top:10px;
  margin-left:50px;
}